# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Rust
target/
rust/target/
rust/**/target/
**/*.rs.bk
Cargo.lock
*.pdb

# Xournal++ autosave files
*.autosave.xopp

# Python files
*.pyc

# Assignments
fit3155/ass01/
fit3155/ass02/
